@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&dispaly=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.container{
    text-align: center;
    margin: auto;
    margin-top: 30px;
}
.dice{
    display: inline-block;
    margin-top: 70px;
}
h1{
   font-size: 2.59rem;
   font-family: cursive;
   color: rgb(224, 51, 51);
   text-shadow: 2px 0 white;
}
p{
    font-size: 1.5rem;
    color: white;
}
.button{
    padding: 10px;
    margin-top: 70px;
    width: 7rem;
    border-radius: 20px;
    border: 1px solid brown;
    background-color: white;
    color: brown;
    font-size: 1rem;
    cursor: pointer;
}
.button:hover{
    color: white;
    background-color: brown;
    border: 1px solid white;
    transition: 0.2s ease-in-out;
    transform: scale(1.03);
}
img{
    width: 70%;
    margin-top: 40px;
}
.button1{
    padding: 10px;
    font-size: 1rem;
    border: 1px solid white;
    border-radius: 20px;
    background-color: black;
    color: white;
    margin-left: 15px;
    cursor: pointer;
}
.button1:hover{
    color: black;
    background-color: white;
    border: 1px solid black;
    transition: 0.2s ease-in-out;
    transform: scale(1.03);
}
